h1 {
  font-family: "Lexend Peta", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-family: "Lexend Peta", sans-serif;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 5px;
}

button {
  font-family: "Lexend Peta", sans-serif;
  cursor: pointer;
}

/*PAGE 1 SECTION: Inserting name*/
.current-total-title {
  justify-content: left;
  font-size: 30px;
}

.add-name-line {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.name-input {
  font-size: 16px;
  font-family: "Lexend Peta", sans-serif;
  width: 150px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.add-btn {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.remove-btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  transition: all 0.2s ease;
}
.remove-btn:hover {
  background-color: rgba(248, 236, 105, 0.9);
}

.add-img {
  max-width: 100%;
  height: auto;
}

.remove-img {
  max-width: 20px;
  height: auto;
}

.name-shown-js {
  /*UL SECTION*/
  display: none;
}

.name-shown {
  display: block;
}

.eachName {
  /*IL SECTION*/
  display: grid;
  width: 251px;
  grid-template-columns:1fr 50px;
  align-items: center;
  border-bottom: 1px solid black;
}

.personName {
  margin-left: 15px;
  font-size: 15px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.next-btn{
  margin-top: 20px;
  padding: 10px 20px;
}




.splittingPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.defining-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.division-result p {
  display: inline;
}

.division-result {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.hiddenPage {
  display: none;
}

.splitting-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reset-btn {
  padding: 10px 20px;
}

.next-btn, .reset-btn {
  display: none;
  margin-bottom: 40px;
}
.next-shown, .reset-shown {
  display: block
}

.splitting-zone {
  display: none;
}

.remainder-shown {
  display: block;
}

.eachCost, .itemName {
  padding: 10px;
}
.divide-btn {
  margin-top: 20px;
  padding: 10px;
}

.allocation-section {
  display: flex;
  column-gap: 20px;
}

.peopleColumn, .moneyColumn {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 30px;
}

.money-btn {
  pointer-events: none;
  height: 40px;
}

.division-section-btn {
  padding: 10px;
  margin-bottom: 4px;
}

.people-button {
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: lightblue;
  box-shadow: 0px 2px;
  transform: translateY(-2px);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.peopleClick {
  background-color: rgb(130, 167, 248);
  transform: translateY(0px);
  box-shadow: 0px 0px;
}
