body {
  width: clamp(700px, 80vw, 1200px);
  margin: 0 auto;
  padding-bottom: 50px;
}

h1, h2 {
  font-family: "Lexend Peta", sans-serif;
  color: #4A6644;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 55px;
  margin-bottom: 10px;
}

.intro-line {
  color: #c66f80;
}

p {
  font-family: "Lexend Peta", sans-serif;
  font-size: 24px;
  margin-top: 0px;
}

button {
  font-size: 16px;
  font-family: "Lexend Peta", sans-serif;
  cursor: pointer;
  border-radius: 10px;
}

input {
  color: #4a6644;
  font-size: 16px;
  font-family: "Lexend Peta", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #d7dab3;
}
input::placeholder {
  color: #9faa74;
}
input:focus {
  border: 1px solid #4a6644;
  outline: none;
}

/*PAGE 1 SECTION: Inserting name*/
.add-name-line {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.name-input {
  width: 150px;
}

.add-btn {
  color: #9faa74;
  font-weight: 400;
  font-size: 24px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #d7dab3;
  transition: all 0.2s ease;
  padding-bottom: 7px;
}
.add-btn:hover {
  background-color: #d7dab3;
}
.add-btn:active {
  color: #4a6644;
  background-color: #9faa74;
  border: 1px solid #9faa74;
}


.remove-btn {
  padding-bottom: 8px;
  font-size: 30px;
  color: #9faa74;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;
}
.remove-btn:hover {
  background-color: #d7dab3;
}

.add-img {
  max-width: 100%;
  height: auto;
}

.remove-img {
  max-width: 20px;
  height: auto;
}

.name-shown-js {
  display: none;
}

.name-shown {
  display: block;
}

.eachName {
  display: grid;
  width: 251px;
  grid-template-columns:1fr 50px;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 0.5px solid #4a6644;
}

.personName {
  color: #9faa74;
  margin-left: 15px;
  font-size: 15px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*NEXT BUTTON*/
.next-btn, .back-btn, .back-btn-phone, .divide-btn{
  display: none;
  color: #4a6644;
  background-color: transparent;
  border: 1px solid #9faa74;
  border-radius: 10px;
  box-shadow: 0px 5px #9faa74;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.next-btn:hover, .back-btn:hover, .back-btn-phone:hover,
.divide-btn:hover {
  transform: translateY(-3px);
  color: #c66f80;
  border: 1px solid #c66f80;
  box-shadow: 0px 8px #c66f80;
}
.next-btn:active, .back-btn:active, .back-btn-phone:active,
.divide-btn:active {
  background-color: #4A6644;
  color: white;
  border-color: white;
  transform: translateY(3px);
  box-shadow: 0px 0px #4A6644;
}
.next-btn:focus, .back-btn:focus, .back-btn-phone:focus,
.divide-btn:focus {
  border: 1px solid #4a6644;
  outline: none;
}

.back-btn, .back-btn-phone {
  position: absolute;
  margin-top: 11px;
}

.next-shown, .reset-shown {
  display: block;
}

.divide-btn {
  display: block;
  width: 70%;
  padding: 10px;
  height: 50px;
}




.current-total-title {
  color: #c66f80;
  justify-content: center;
  font-size: 30px;
}

.splittingPage {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.defining-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-result {
  display: flex;
  flex-direction: column;
}

.history-title, .splitting-instruction {
  color: #f4c7d0;
  font-family: "Lexend Peta", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.division-result {
  margin-left: 10px;
}

.scroll-activate {
  max-height: 400px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.splitting-row {
  color: #4A6644;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 6px;
  padding-left: 5px;
  border-bottom: 0.5px solid #9faa744e;
}
.detail-devision {
  display: inline;
  font-size: 16px;
  margin-bottom: 0px;
}

.undo-btn {
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: #c66f80;
  margin-left: 40px;
  align-self: stretch;
}

.splitting-zone {
  display: none;
}

.remainder-shown {
  display: block;
}

.eachCost, .itemName {
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
}
.itemName {
  margin-right: 40px;
}

.allocation-section {
  display: flex;
  column-gap: 40px;
}

.peopleColumn, .moneyColumn, .pop-upColumn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 30px;
}

.peopleColumn, .moneyColumn {
  width: 30%;
}

.division-section-btn {
  padding: 10px;
  margin-bottom: 4px;
}

.people-button, .money-btn, .popup-btn {
  white-space: nowrap;
  height: 50px;
  border: none;
}

.people-button, .money-btn {
  box-shadow: 0px 5px #4a6644;
  transform: translateY(-5px);
}

.people-button {
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #9faa74;
  color: white;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.people-button:hover {
  background-color: transparent;
  color: #4a6644;
  border: 1px solid #4a6644;
  transform: translateY(-8px);
  box-shadow: 0px 8px #4a6644;
}

.people-button:active, .peopleClick {
  color: #c66f80;
  background-color: #f4c7d0;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 0px;
}

.peopleClick:hover {
  background-color: transparent;
  color: #c66f80;
  border: 1px solid #c66f80;
  transform: translateY(-8px);
  box-shadow: 0px 8px #f4c7d0;
}

.peopleClick:active {
  background-color: transparent;
  color: #c66f80;
  border: 1px solid #c66f80;
  transform: translateY(0px);
  box-shadow: 0px 0px;
}

.money-btn {
  background-color: transparent;
  color: #4a6644;
  border: 1px solid #4a6644;
  pointer-events: none;
}

.popup-btn {
  pointer-events: none;
  max-height: auto;
  background-color: transparent;
  transform: translateY(-5px) translateX(-40px);
  color: #c66f80;
}

.peopleClick {
  color: #c66f80;
  background-color: #f4c7d0  ;
  transform: translateY(0px);
  box-shadow: 0px 0px;
}

.show-hide-btn {
  color: #4A6644;
  border: 1px solid #4A6644;
  background-color: #d7dab3;
  margin: 0 auto;
  padding: 5px 18px;
  width: 150px;
  margin-top: 20px;
  transition: all 0.2s ease;
}

.show-hide-btn:hover {
  color: white;
  background-color: #4A6644;
}

@media (max-width: 1000px) {
  .back-btn {
    display: none;
  }
}
@media (min-width: 1001px) {
  .back-btn-phone {
    display: none;
  }
}


