body {
  width: clamp(700px, 80vw, 1200px);
  margin: 0 auto;
}

h1, h2 {
  font-family: "Lexend Peta", sans-serif;
  color: #2E8B57;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-family: "Lexend Peta", sans-serif;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 5px;
}

button {
  font-size: 16px;
  font-family: "Lexend Peta", sans-serif;
  cursor: pointer;
  border-radius: 10px;
}

input {
  font-size: 16px;
  font-family: "Lexend Peta", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
}

/*PAGE 1 SECTION: Inserting name*/
.add-name-line {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.name-input {
  width: 150px;
}

.add-btn {
  background-color: rgb(240, 240, 240);
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.2s ease;
}
.add-btn:hover {
  background-color: rgb(203, 195, 195);
}
.add-btn:active {
  background-color: rgb(186, 181, 181);
}


.remove-btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  transition: all 0.2s ease;
}
.remove-btn:hover {
  background-color: rgba(248, 236, 105, 0.9);
}

.add-img {
  max-width: 100%;
  height: auto;
}

.remove-img {
  max-width: 20px;
  height: auto;
}

.name-shown-js {
  display: none;
}

.name-shown {
  display: block;
}

.eachName {
  display: grid;
  width: 251px;
  grid-template-columns:1fr 50px;
  align-items: center;
  border-bottom: 1px solid black;
}

.personName {
  margin-left: 15px;
  font-size: 15px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.next-btn{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px black;
  margin-top: 20px;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.next-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px black;
}
.next-btn:active {
  transform: translateY(3px);
  box-shadow: 0px 0px black;
}





.current-total-title {
  color: #2E8B57;
  justify-content: center;
  font-size: 30px;
}

.splittingPage {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.defining-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-result p {
  display: inline;
  font-size: 16px;
}

.history-result {
  display: flex;
  flex-direction: column;
}

.history-title {
  font-family: "Lexend Peta", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.division-result {
  margin-left: 10px;
}

.scroll-activate {
  max-height: 400px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.splitting-row {
  color: rgb(35, 34, 34);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.undo-btn {
  margin-left: 10px;
  align-self: stretch;
}

.back-btn {
  position:absolute;
  padding: 10px 20px;
  border: 1px solid black;
}

.next-btn, .back-btn {
  display: none;
  margin-bottom: 40px;
}
.next-shown, .reset-shown {
  display: block
}

.splitting-zone {
  display: none;
}

.remainder-shown {
  display: block;
}

.eachCost, .itemName {
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
}
.itemName {
  margin-right: 40px;
}

.divide-btn {
  width: 70%;
  margin-top: 20px;
  padding: 10px;
  height: 50px;
  border: 1px solid black;
}


.allocation-section {
  display: flex;
  column-gap: 40px;
}

.peopleColumn, .moneyColumn {
  box-sizing: border-box;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 30px;
}

.money-btn {
  white-space: nowrap;
  pointer-events: none;
  height: 50px;
  color: black;
  box-shadow: 0px 5px #052714;
  transform: translateY(-5px);
}

.division-section-btn {
  padding: 10px;
  margin-bottom: 4px;
}

.people-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  border: none;
  background-color: #4bbf7d;
  color: white;
  box-shadow: 0px 5px #052714;
  transform: translateY(-5px);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.peopleClick {
  background-color: #2b8451  ;
  transform: translateY(0px);
  box-shadow: 0px 0px;
}

.show-hide-btn {
  margin-top: 20px;
}
