body {
  width: clamp(700px, 80vw, 1200px);
  margin: 0 auto;
  padding-bottom: 50px;
}

h1, h2 {
  font-family: "Lexend Peta", sans-serif;
  color: #4A6644;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 48px;
  margin-bottom: 10px;
}

.intro-line {
  color: #c66f80;
}

p {
  font-family: "Lexend Peta", sans-serif;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 5px;
}

button {
  font-size: 16px;
  font-family: "Lexend Peta", sans-serif;
  cursor: pointer;
  border-radius: 10px;
}

input {
  font-size: 16px;
  font-family: "Lexend Peta", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
}

/*PAGE 1 SECTION: Inserting name*/
.add-name-line {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.name-input {
  color: #4a6644;
  border-color: #d7dab3;
  width: 150px;
}
.name-input::placeholder {
  color: #ece3d2;
}
.name-input:focus {
  border: 1px solid #4a6644;
  outline: none;
}

.add-btn {
  color: #9faa74;
  font-weight: 400;
  font-size: 24px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #d7dab3;
  transition: all 0.2s ease;
  padding-bottom: 7px;
}
.add-btn:hover {
  background-color: #d7dab3;
}
.add-btn:active {
  color: #4a6644;
  background-color: #9faa74;
  border: 1px solid #9faa74;
}


.remove-btn {
  padding-bottom: 8px;
  font-size: 30px;
  color: #9faa74;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;
}
.remove-btn:hover {
  background-color: #d7dab3;
}

.add-img {
  max-width: 100%;
  height: auto;
}

.remove-img {
  max-width: 20px;
  height: auto;
}

.name-shown-js {
  display: none;
}

.name-shown {
  display: block;
}

.eachName {
  display: grid;
  width: 251px;
  grid-template-columns:1fr 50px;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 0.5px solid #4a6644;
}

.personName {
  color: #9faa74;
  margin-left: 15px;
  font-size: 15px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.next-btn{
  color: #4a6644;
  background-color: transparent;
  border: 1px solid #9faa74;
  border-radius: 10px;
  box-shadow: 0px 5px #9faa74;
  margin-top: 20px;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.next-btn:hover {
  transform: translateY(-3px);
  color: #c66f80;
  border: 1px solid #c66f80;
  box-shadow: 0px 8px #c66f80;
}
.next-btn:active {
  background-color: #4A6644;
  color: white;
  border-color: white;
  transform: translateY(3px);
  box-shadow: 0px 0px #4A6644;
}





.current-total-title {
  color: #2E8B57;
  justify-content: center;
  font-size: 30px;
}

.splittingPage {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.defining-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-result p {
  display: inline;
  font-size: 16px;
}

.history-result {
  display: flex;
  flex-direction: column;
}

.history-title, .splitting-instruction {
  font-family: "Lexend Peta", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.division-result {
  margin-left: 10px;
}

.scroll-activate {
  max-height: 400px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.splitting-row {
  color: rgb(35, 34, 34);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.undo-btn {
  margin-left: 10px;
  align-self: stretch;
}

.back-btn {
  position:absolute;
  padding: 10px 20px;
  border: 1px solid black;
}

.next-btn, .back-btn {
  display: none;
  margin-bottom: 40px;
}
.next-shown, .reset-shown {
  display: block
}

.splitting-zone {
  display: none;
}

.remainder-shown {
  display: block;
}

.eachCost, .itemName {
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
}
.itemName {
  margin-right: 40px;
}

.divide-btn {
  width: 70%;
  margin-top: 20px;
  padding: 10px;
  height: 50px;
  border: 1px solid black;
}


.allocation-section {
  display: flex;
  column-gap: 40px;
}

.peopleColumn, .moneyColumn, .pop-upColumn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 30px;
}

.peopleColumn, .moneyColumn {
  width: 30%;
}

.division-section-btn {
  padding: 10px;
  margin-bottom: 4px;
}

.money-btn {
  white-space: nowrap;
  pointer-events: none;
  height: 50px;
  color: #4bbf7d;
  box-shadow: 0px 5px #052714;
  transform: translateY(-5px);
}

.people-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  border: none;
  background-color: #4bbf7d;
  color: white;
  box-shadow: 0px 5px #052714;
  transform: translateY(-5px);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.popup-btn {
  white-space: nowrap;
  pointer-events: none;
  height: 50px;
  max-height: auto;
  border: none;
  background-color: transparent;
  transform: translateY(-5px) translateX(-40px);
  color: #bdc4c0;
}

.peopleClick {
  background-color: #2b8451  ;
  transform: translateY(0px);
  box-shadow: 0px 0px;
}

.show-hide-btn {
  margin-top: 20px;
}
